@charset "UTF-8";
/*======================= Основной шрифт =======================*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
/*======================= Переменные =======================*/
/*======================= Базовые стили =======================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  margin: 0;
  overflow-x: hidden;
}

h2 {
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 130%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: "Manrope", sans-serif;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.1);
  filter: brightness(0.95);
}

.btn-green {
  align-items: center;
  background: #26B636;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 4px 10px rgba(38, 182, 54, 0.25);
  cursor: pointer;
  display: flex;
  height: 60px;
  padding: 0 33px;
}
.btn-green span {
  color: #fff;
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
}

.btn-outline {
  background: none;
  border: 2px solid #26B636;
  border-radius: 100px;
  color: #193840;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  height: 55px;
  line-height: 130%;
  padding: 0 35px;
}

.title-separator {
  align-items: center;
  display: grid;
  grid-gap: 52px;
  grid-template-columns: 1fr auto 1fr;
  margin-top: 60px;
  width: 100%;
}
.title-separator h3 {
  color: #193840;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 30px;
}
.title-separator__divider {
  background: #BDBDBD;
  height: 1px;
  width: 100%;
}

/*======================= Макет =======================*/
.section {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;
}

.separator {
  background: #26B636;
  height: 2px;
  width: 68.51px;
}

/*======================= Стили для слайдеров =======================*/
.slick-list {
  cursor: grab;
  margin: 0 -15px;
}

.slick-slide {
  margin: 0 15px;
}

.slick-arrow {
  background-color: transparent;
  background-size: cover;
  border: none;
  height: 52px;
  width: 52px;
}
.slick-arrow:hover {
  background-color: transparent;
  background-size: cover;
  transform: translate(0, -50%);
  filter: none;
}

.slick-prev {
  background-image: url(../img/arrow_left.svg);
  left: -11px;
}
.slick-prev:hover {
  background-image: url(../img/arrow_left.svg);
}

.slick-next {
  background-image: url(../img/arrow_right.svg);
  right: -11px;
}
.slick-next:hover {
  background-image: url(../img/arrow_right.svg);
}

.slick-dotted.slick-slider {
  margin-bottom: 57px;
}

.slick-dots {
  bottom: -50px;
}
.slick-dots li {
  background: #D0D0D0;
  border-radius: 4px;
  height: 10px;
  transition: 0.3s;
  width: 55px;
}
.slick-dots li.slick-active {
  background: #26B636;
}

/*======================= Фон на главном экране =======================*/
.main-screen {
  background: url("../img/header.jpg");
  background-size: cover;
  position: relative;
}
.main-screen__filter-first {
  background: #193840;
  opacity: 0.6;
  position: absolute;
  height: 100%;
  width: 100%;
}
.main-screen__filter-second {
  background: linear-gradient(69.77deg, #ED4801 14.66%, rgba(25, 56, 64, 0) 73.48%);
  opacity: 0.3;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  height: 100%;
  width: 100%;
}
.main-screen__filter-third {
  background: linear-gradient(180deg, #193840 0%, rgba(25, 56, 64, 0) 43.63%);
  opacity: 0.8;
  position: absolute;
  height: 100%;
  width: 100%;
}

/*======================= Header =======================*/
.header {
  position: relative;
  z-index: 1;
}
.header__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 107px;
  justify-content: space-between;
}
.header__logo {
  height: auto;
  width: auto;
}
.header__logo img {
  height: 42px;
  width: 273px;
}
.header__links {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(4, auto);
}
.header__links-item {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  transition: 0.3s;
}
.header__links-item:hover {
  color: #e3e3e3;
}
.header__callback {
  align-items: center;
  background: none;
  border: 2px solid #26B636;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  padding: 10px 16px;
}
.header__callback img {
  height: 19px;
  width: 19px;
}
.header__callback span {
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375;
  margin-left: 10px;
}
.header__contacts {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header__messangers {
  display: grid;
  grid-gap: 7px;
  grid-template: repeat(2, auto)/repeat(2, auto);
}
.header__messanger {
  display: block;
  height: auto;
  width: auto;
}
.header__messanger img {
  height: 15px;
  width: 15px;
}
.header__phones {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7px;
}
.header__phone {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  transition: 0.3s;
}
.header__phone:hover {
  color: #e3e3e3;
}

.home {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1.3fr 1fr;
  margin-top: 60px;
  padding-bottom: 200px;
  position: relative;
  z-index: 1;
}
.home__promo {
  border: 2px solid #FDC400;
  border-radius: 20px;
  color: #fff;
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 130%;
  padding: 9px 20px 11px;
  width: fit-content;
}
.home__h1 {
  color: #fff;
  font-size: 3.375rem;
  font-weight: 800;
  line-height: 130%;
  margin-top: 15px;
}
.home__h1 span {
  color: #FDC400;
}
.home__description {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 130%;
  margin-top: 13px;
}
.home__btn {
  margin-top: 33px;
}
.home__right {
  align-items: center;
  display: flex;
  position: relative;
}
.home__right-wrapper {
  background: #FDC400;
  border-radius: 100px;
  padding: 25px 44px;
  max-width: 350px;
  width: 100%;
}
.home__right-text {
  color: #193840;
  font-size: 1rem;
  font-weight: 500;
}
.home__right-number {
  font-size: 2.5rem;
  font-weight: 800;
}
.home__right-desc {
  font-size: 1.25rem;
  font-weight: 800;
}
.home__right-img {
  position: absolute;
  top: -50px;
  right: -15px;
  height: 605px;
  width: 460px;
}

.numbers__container {
  height: 180px;
  position: relative;
  z-index: 1;
}
.numbers__anchor {
  position: relative;
  top: -150px;
  visibility: hidden;
}
.numbers__overflow {
  perspective: 250px;
  position: absolute;
  transform: translate(-50%, 0);
  top: -130px;
  left: 50%;
  height: 254px;
  width: 1588px;
}
.numbers__overflow:before {
  background: #fff;
  box-shadow: 0px -95px 80px rgba(0, 0, 0, 0.15);
  transform: rotateX(10deg);
  transform-origin: 50% 100%;
  border-radius: 40px 40px 0 0;
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
}
.numbers__wrapper {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: -60px;
  z-index: 1;
}
.numbers__item {
  align-items: center;
  color: #193840;
  display: flex;
  flex-direction: column;
}
.numbers__title {
  font-weight: 800;
  font-size: 5rem;
  line-height: 130%;
}
.numbers__description {
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 13px;
  text-align: center;
}
.numbers__divider {
  border: 1px solid #DBDBDB;
}

.speech__container {
  display: grid;
  grid-gap: 63px;
  grid-template-columns: 1fr 1.62fr;
}
.speech__text {
  color: #333333;
  margin-top: 24px;
  line-height: 160%;
}
.speech__h2 {
  margin-bottom: 10px;
}
.speech__photo-mobile {
  display: none;
}
.speech__phone {
  border: 1px dashed #26B636;
  border-radius: 6px;
  height: auto;
  margin-top: 30px;
  padding: 19px 32px 19px;
}
.speech__phone p {
  color: #333333;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1;
}

.photo-slider {
  padding: 50px 0;
}
.photo-slider__item {
  margin: 0 15px;
}
.photo-slider__item img {
  width: 100%;
}

.buildings {
  background: #1F565F;
  padding: 46px 0 50px;
}
.buildings__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.buildings__h2 {
  color: #fff;
  margin-bottom: 9px;
  text-align: center;
}
.buildings__wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 38px;
}
.buildings__item {
  margin-bottom: -100px;
}
.buildings__item img {
  border-radius: 6px;
}
.buildings__item svg {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -73px;
  width: 90%;
}
.buildings__item span {
  display: block;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  position: relative;
  top: -130px;
  text-align: center;
}
.buildings__text {
  color: #fff;
  line-height: 160%;
  margin-top: 20px;
}

.technology {
  padding: 70px 0 100px;
}
.technology__container {
  display: grid;
  grid-gap: 53px;
  grid-template-columns: 1.3fr 1fr;
}
.technology h2 {
  margin-bottom: 11px;
}
.technology__img-mobile {
  display: none;
}
.technology__text {
  margin-top: 26px;
}
.technology .btn-outline {
  margin-top: 30px;
}
.technology__right img {
  height: auto;
  width: 100%;
}

.glass {
  background: #f5f5f5;
  padding: 42px 0 58px;
}
.glass__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.glass h2 {
  margin-bottom: 10px;
  text-align: center;
}
.glass__advantages {
  margin-top: 56px;
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(2, 1fr);
}
.glass__advantages-item {
  display: grid;
  grid-gap: 31px;
  grid-template-columns: auto 1fr;
}
.glass__advantages-item + .glass__advantages-item {
  margin-top: 31.66px;
}
.glass__advantages-title {
  color: #333333;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%;
}
.glass__advantages-description {
  color: #333333;
  font-size: 0.875rem;
  line-height: 160%;
  margin-top: 10px;
}
.glass__variants {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}
.glass__variants-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile {
  padding: 53px 0 60px;
}
.profile__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.profile h2 {
  margin-bottom: 10px;
  text-align: center;
}
.profile__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  width: 100%;
}
.profile__card {
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 19px 26px 26px;
}
.profile__card img {
  height: 248px;
  width: 248px;
}
.profile__card h4 {
  color: #193840;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 130%;
  margin-top: 17px;
}
.profile__characteristic {
  display: flex;
  justify-content: space-between;
}
.profile__characteristic-name {
  color: #333333;
  font-size: 0.875rem;
  line-height: 160%;
}
.profile__characteristic-value {
  color: #333333;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 160%;
}
.profile__slider {
  margin-top: 35px;
  padding: 0 40px;
}
.profile__slider-item {
  align-items: center;
  display: flex !important;
  flex-direction: column;
}
.profile__slider-item img {
  height: 190px;
  width: 142px;
}
.profile__slider-item span {
  color: #333333;
  font-size: 1rem;
  line-height: 22px;
  margin-top: 22px;
}

.additional {
  background: url("../img/additional_bg.jpg") no-repeat top right;
  background-size: cover;
  padding: 29px 0 72px;
}
.additional__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.additional h2 {
  color: #fff;
  margin-bottom: 11px;
  text-align: center;
}
.additional__wrapper {
  display: grid;
  grid-gap: 62px;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 70px;
  place-items: center;
}
.additional__item {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.additional__item img {
  border-radius: 50%;
}
.additional__item span {
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 22px;
  margin-top: 26px;
  text-align: center;
}

.advantages {
  padding: 81px 0 94px;
}
.advantages__top {
  display: grid;
  grid-gap: 64px;
  grid-template-columns: repeat(2, 1fr);
}
.advantages__top h2 {
  margin-bottom: 20px;
}
.advantages__top-text {
  color: #333333;
  font-size: 1rem;
  line-height: 160%;
  margin-top: 33px;
}
.advantages__bottom {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1.15fr;
  margin-top: 72px;
}
.advantages__bottom h3 {
  color: #193840;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 130%;
}
.advantages__bottom-ul {
  margin-top: 33px;
}
.advantages__bottom-ul li {
  color: #333333;
  font-size: 1rem;
  line-height: 140%;
  padding-left: 34px;
  position: relative;
}
.advantages__bottom-ul li::before {
  background: url("../img/advantages_li.svg");
  content: "";
  height: 15px;
  position: absolute;
  top: 3px;
  left: 0;
  width: 19.26px;
}
.advantages__bottom-ul li + li {
  margin-top: 15px;
}

.calculator {
  background: #F7F7F7;
  padding-top: 46px;
}
.calculator__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.calculator h2 {
  margin-bottom: 10px;
  text-align: center;
}
.calculator .separator {
  margin-bottom: -2px;
  position: relative;
  z-index: 1;
}
.calculator__form {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-column-gap: 111px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1.3fr;
  margin-bottom: -154px;
  padding: 44px 44px 20px;
}
.calculator__form input[type=checkbox], .calculator__form input[type=radio] {
  display: none;
}
.calculator__category-header {
  align-items: center;
  color: #193840;
  display: grid;
  grid-template-columns: auto 1fr;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 130%;
  margin-bottom: 18px;
}
.calculator__category-header.hidden {
  display: none;
}
.calculator__category-number {
  background: #FDC400;
  border-radius: 50%;
  height: 46px;
  padding-top: 11px;
  margin-right: 19px;
  text-align: center;
  width: 46px;
}
.calculator__category-name {
  display: block;
}
.calculator__radios {
  align-items: flex-start;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.calculator__count {
  align-items: center;
  display: grid;
  grid-gap: 14px;
  grid-template-columns: auto 1fr;
  grid-column: 1/-1;
}
.calculator__count span {
  color: #333333;
  font-size: 0.875rem;
  line-height: 120%;
}
.calculator__count input {
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  height: 38px;
  max-width: 74px;
  text-align: center;
}
.calculator__count input::placeholder {
  color: #ADADAD;
  font-size: 1rem;
  line-height: 130%;
  text-align: center;
}
.calculator__count input::-webkit-outer-spin-button, .calculator__count input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
.calculator__size {
  grid-column: 2/3;
  grid-row: 1/3;
}
.calculator__size-wrapper span {
  color: #333333;
  display: none;
  font-size: 0.875rem;
  line-height: 120%;
}
.calculator input[type=radio] + label {
  align-items: center;
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 48px 1fr;
  padding: 13px 17px;
}
.calculator input[type=radio] + label span {
  color: #666666;
  font-size: 1rem;
  line-height: 120%;
}
.calculator input[type=radio] + label:hover {
  border: 2px solid #26B636;
  padding: 12px 16px;
}
.calculator input[type=radio] + label:hover svg.calc__svg-stroke {
  stroke: #333333;
}
.calculator input[type=radio] + label:hover svg.calc__svg-fill {
  fill: #333333;
}
.calculator input[type=radio] + label:hover span {
  color: #333333;
}
.calculator input[type=radio]:checked + label {
  border: 2px solid #26B636;
  padding: 12px 16px;
}
.calculator input[type=radio]:checked + label svg.calc__svg-stroke {
  stroke: #333333;
}
.calculator input[type=radio]:checked + label svg.calc__svg-fill {
  fill: #333333;
}
.calculator input[type=radio]:checked + label span {
  color: #333333;
}
.calculator__checkboxes {
  display: grid;
  grid-column-gap: 80px;
  grid-row-gap: 15px;
  grid-template-columns: 1.6fr 1fr;
}
.calculator input[type=checkbox] + label {
  color: #333333;
  cursor: pointer;
  font-size: 1rem;
  padding-left: 29px;
  position: relative;
}
.calculator input[type=checkbox] + label::before {
  border: 2px solid #C5C5C5;
  border-radius: 2px;
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  height: 14px;
  width: 14px;
}
.calculator input[type=checkbox]:checked + label::before {
  background: #26B636 url("../img/checkbox-checked.svg") no-repeat center center;
  border: 2px solid #26B636;
  color: #fff;
  font-size: 18px;
}
.calculator__size {
  position: relative;
}
.calculator__size img {
  height: auto;
  width: 100%;
}
.calculator__size input {
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  color: #333333;
  font-size: 16px;
  line-height: 130%;
  padding: 7px;
  text-align: center;
  width: 65px;
}
.calculator__size input::-webkit-outer-spin-button, .calculator__size input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
.calculator__size input::placeholder {
  color: #ADADAD;
}
.calculator__size input[name=calc_width] {
  position: absolute;
  left: 41%;
  top: 80%;
}
.calculator__size input[name=calc_height] {
  position: absolute;
  right: -0.5%;
  top: 49%;
}
.calculator__btn {
  grid-column: 1/-1;
  justify-content: center;
  justify-self: center;
  padding: 0 100px;
  width: fit-content;
}
.calculator__error {
  color: red;
  font-size: 1rem;
  margin-top: 10px;
}

.promo {
  padding: 245px 0 82px;
}
.promo__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.promo h2 {
  margin-bottom: 10px;
  text-align: center;
}
.promo__wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 39px;
}
.promo__item {
  background: #1F565F;
  padding-bottom: 28px;
}
.promo__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.promo__title {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 130%;
  padding: 0 26px;
}
.promo__title span {
  background: #26B636;
}
.promo__description {
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 130%;
  margin-top: 10px;
  padding: 0 26px;
}

.pricelist {
  background: #1F565F;
}
.pricelist .section {
  background: #e6e6e6;
}
.pricelist .section.lazy-bg-loaded {
  background: url(../img/pricelist_bg.png) center center;
  background-size: cover;
}
.pricelist__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  min-height: 231px;
}
.pricelist__data {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pricelist__offer {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
  max-width: 555px;
}
.pricelist__offer span {
  color: #26B636;
}
.pricelist__button {
  padding: 0 83px;
}
.pricelist__button img {
  margin-right: 15px;
  height: 28px;
  width: 28px;
}
.pricelist__button span {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 130%;
}
.pricelist__alpinist {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 251px;
  width: 175px;
}

.clients__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  position: relative;
}
.clients__overflow {
  perspective: 250px;
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 60px;
  left: 50%;
  height: 254px;
  width: 1588px;
}
.clients__overflow:before {
  background: #ffffff;
  box-shadow: 0px -95px 50px rgba(0, 0, 0, 0.15);
  transform: rotateX(170deg);
  transform-origin: 50% 100%;
  border-radius: 40px 40px 0 0;
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
}
.clients h2 {
  margin-bottom: 20px;
  text-align: center;
}
.clients__cards {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 79px 0 -70px;
  width: 100%;
}
.clients__card {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 282px;
  width: 100%;
  position: relative;
}
.clients__card img {
  height: 79px;
  transition: 0.3s;
  width: auto;
}
.clients__card img:hover {
  transform: scale(1.1);
}
.clients__title {
  color: #193840;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  margin-top: 22px;
  text-align: center;
}
.clients__description {
  color: #666666;
  font-weight: 500;
  font-size: 1rem;
  line-height: 130%;
  margin-top: 10px;
  text-align: center;
}

.errors {
  background-color: #21595E;
  padding: 220px 0 148px;
}
.errors.lazy-bg-loaded {
  background-image: url(../img/errors.png);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}
.errors__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 102%;
  max-width: 800px;
}
.errors__separator {
  background: #FDC400;
  margin-top: 13px;
}
.errors__items {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
}
.errors__item {
  align-items: center;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 44px 1fr;
  margin-top: 47px;
}
.errors__digit {
  color: #FDC400;
  display: block;
  font-weight: 800;
  font-size: 4.375rem;
  line-height: 1;
}
.errors__text {
  color: #FFFFFF;
  font-size: 1.125rem;
  line-height: 130%;
  width: 292px;
}

.guarantees__container {
  position: relative;
  padding: 75px 30px;
}
.guarantees h2 {
  color: #193840;
  font-weight: 300;
  font-size: 3.125rem;
  line-height: 130%;
  text-transform: uppercase;
}
.guarantees h2 span {
  color: #193840;
  font-weight: 800;
  font-size: 6.25rem;
  line-height: 100%;
}
.guarantees__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 77px;
}
.guarantees__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  width: 160px;
}
.guarantees__number {
  color: #193840;
  font-weight: bold;
  font-size: 4.375rem;
  line-height: 130%;
}
.guarantees__text {
  color: #193840;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.56;
}
.guarantees__img {
  position: absolute;
  top: -40px;
  right: 0;
  height: 482px;
  width: 648.72px;
  transition: 0.3s;
}

.certificates__container {
  align-items: center;
  border-top: 1px solid #DBDBDB;
  display: flex;
  flex-direction: column;
  padding: 53px 15px;
}
.certificates h2 {
  margin-bottom: 20px;
  text-align: center;
}
.certificates__slider {
  margin-top: 47px;
  width: 100%;
}
.certificates__slide {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  margin: 0 15px;
  padding: 18px;
}
.certificates__slide img {
  height: auto;
  width: 100%;
}

.partners {
  background: #F7F7F7;
  padding: 53px 0;
}
.partners__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.partners h2 {
  margin-bottom: 20px;
  text-align: center;
}
.partners__slider {
  margin-top: 47px;
  width: 100%;
}
.partners__slider .slick-slide > div:last-child {
  margin-top: 30px;
}
.partners__slide {
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  padding: 18px;
  height: 123px;
}
.partners__slide img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.callback {
  padding: 75px 0 98px;
}
.callback__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.callback h2 {
  color: #193840;
  font-weight: 800;
  font-size: 3.125rem;
  line-height: 130%;
  margin-bottom: 13px;
  text-align: center;
}
.callback .separator {
  width: 187px;
}
.callback__form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 310px 310px 330px;
  margin-top: 62px;
}
.callback__form input {
  border: 2px solid #D0D0D0;
  border-radius: 100px;
  font-size: 1.125rem;
  padding: 17px 23px;
}
.callback__form input::placeholder {
  color: #AEAEAE;
  font-size: 1.125rem;
  line-height: 130%;
}
.callback__form .btn-green {
  justify-content: center;
}

.gallery {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery > * {
  height: auto;
  position: relative;
  width: 20%;
}
.gallery > * img:first-child {
  cursor: pointer;
  height: auto;
  width: 100%;
  transition: 0.5s;
}
.gallery > * img:first-child:hover {
  position: relative;
  z-index: 10;
  transform: scale(1.1);
}
.gallery__hover {
  cursor: pointer;
  height: 98px;
  width: 96px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.gallery__item {
  background: #e6e6e6;
  padding: 30px;
}
.gallery__item.lazy-bg-loaded {
  background-color: #21595E;
  background-image: url(../img/gallery_2.png);
  background-size: cover;
}
.gallery__title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2.125rem;
  line-height: 100%;
}
.gallery__separator {
  background: #EBDE0C;
  height: 6px;
  margin-left: 0;
  margin-top: 17px;
  width: 50px;
}
.gallery__modal {
  position: relative;
  width: max-content;
}
.gallery__modal-img {
  height: auto;
  width: 100%;
}

.footer__section {
  background: rgba(6, 43, 48, 0.8);
}
.footer__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 107px;
  justify-content: space-between;
  min-height: 138px;
}
.footer__logo {
  height: auto;
  width: auto;
}
.footer__logo img {
  height: 42px;
  width: 273px;
}
.footer__address {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}
.footer__address img {
  margin-top: 5px;
  height: 17.29px;
  width: 12.68px;
}
.footer__address div {
  color: #ffffff;
  font-size: 1rem;
  line-height: 24px;
  max-width: 294px;
  margin-left: 12px;
}
.footer__socials {
  display: block;
}
.footer__social {
  align-items: center;
  color: #68DFCC;
  display: grid;
  grid-gap: 11px;
  grid-template-columns: 19px 1fr;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  text-decoration-line: underline;
}
.footer__social:visited {
  color: #68DFCC;
}
.footer__social img {
  justify-self: center;
  height: 15px;
  width: auto;
}
.footer__contacts {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer__messangers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 36px;
}
.footer__messangers {
  display: grid;
  grid-gap: 7px;
  grid-template: repeat(2, auto)/repeat(2, auto);
}
.footer__messanger {
  display: block;
  height: auto;
  width: auto;
}
.footer__messanger img {
  height: 15px;
  width: 15px;
}
.footer__phones {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4px;
}
.footer__phone {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 101.7%;
}
.footer__mail {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 101.7%;
  margin-top: 6px;
}
.footer__org {
  color: #779FA5;
  font-weight: 500;
  font-size: 12px;
  line-height: 101.7%;
  margin-top: 5px;
  text-align: right;
}

.modal {
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.modal-active {
  opacity: 1;
  visibility: visible;
}
.modal__outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(6, 6, 6, 0.4);
}
.modal__container {
  border: 5px solid #E9DD0C;
  border-radius: 10px;
  filter: drop-shadow(10px 15px 30px rgba(0, 0, 0, 0.2));
  padding: 5px;
  position: relative;
  width: 306px;
}
.modal__close {
  cursor: pointer;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 15px;
  width: 15px;
}
.modal__inner {
  background: #ffffff;
  padding: 31px;
  height: auto;
  width: 100%;
}
.modal__title {
  color: #164D56;
  font-weight: 900;
  font-size: 19px;
  line-height: 119.5%;
  text-align: center;
}
.modal__description {
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 119.5%;
  margin-bottom: 30px;
  text-align: center;
}
.modal__input {
  border: 1px solid #C1C1C1;
  border-radius: 4px;
  padding: 11px;
  height: 40px;
  width: 100%;
}
.modal__input::placeholder {
  color: #A7A7A7;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.modal__input + .modal__input {
  margin: 15px 0;
}
.modal__button {
  background: #ffffff;
  border: 2px solid #E9DD0C;
  border-radius: 29px;
  color: #333333;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 15px;
  text-align: center;
  height: 40px;
  width: 100%;
}
.modal__agree input {
  display: none;
}
.modal__agree input:checked + label::before {
  background: url(../img/agree.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.modal__agree label {
  color: #2C2C2C;
  cursor: pointer;
  display: block;
  font-weight: 400;
  font-size: 8px;
  line-height: 130%;
  padding-left: 30px;
  position: relative;
  width: 100%;
}
.modal__agree label::before {
  border: 1px solid #DFDFDF;
  border-radius: 2px;
  content: "";
  height: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
}
.modal__agree label a {
  color: #868686;
  font-weight: 500;
  text-decoration-line: underline;
}
.modal__error {
  color: red;
}
.modal__thx {
  background: chartreuse;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .header__contacts {
    display: none;
  }

  .home {
    grid-template-columns: 1.8fr 1fr;
  }
  .home__right-wrapper {
    display: none;
  }
  .home__right-img {
    top: unset;
    bottom: -100px;
    height: auto;
    width: 368px;
  }

  .technology__container {
    grid-template-columns: 1.8fr 1fr;
  }

  .glass__advantages {
    grid-gap: 20px;
    grid-template-columns: 1fr 1.5fr;
  }
  .glass__advantages-item {
    grid-gap: 15px;
  }
  .glass__advantages-item img {
    width: 30px;
  }

  .profile__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .profile__card {
    margin: 0 auto;
    width: fit-content;
  }
  .profile__card:nth-child(n+3) {
    margin-top: 30px;
  }

  .calculator__form {
    grid-template-columns: 1fr;
  }
  .calculator__category-header.hidden {
    display: grid;
  }
  .calculator__radios {
    grid-template-columns: repeat(4, 1fr);
  }
  .calculator__size {
    grid-column: 1/-1;
    grid-row: 4/5;
  }
  .calculator__size input[name=calc_height] {
    right: -1.5%;
    top: 56%;
    height: 5.5vw;
    width: 9.5vw;
  }
  .calculator__size input[name=calc_width] {
    top: 82.5%;
    height: 5.5vw;
    width: 9.5vw;
  }

  .clients__cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .clients__card {
    margin: 0 auto;
  }

  .guarantees__img {
    height: auto;
    width: 40vw;
  }

  .footer__container {
    height: auto;
  }
  .footer__container > * {
    width: 50%;
    margin: 10px 0;
  }
  .footer__address {
    justify-content: flex-end;
  }
  .footer__address div {
    text-align: right;
  }
}
@media screen and (max-width: 1150px) {
  .advantages__top {
    grid-template-columns: 1fr 2fr;
  }

  .pricelist__alpinist {
    transform: none;
  }

  .callback h2 {
    font-size: 2.5rem;
  }
  .callback__form {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .header__links {
    display: none;
  }

  .speech__container {
    grid-gap: 30px;
    grid-template-columns: 1fr 2.2fr;
  }

  .glass__variants {
    flex-wrap: wrap;
    justify-content: center;
  }
  .glass__variants-item {
    width: 33.33%;
  }
  .glass__variants-item:nth-child(n+4) {
    margin-top: 20px;
  }

  .additional__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .additional__item {
    width: 25%;
  }

  .promo__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .promo__item:last-child {
    grid-column: 1/-1;
    margin: 0 auto;
    width: 48.4%;
  }

  .pricelist__alpinist {
    transform: none;
  }

  .errors.lazy-bg-loaded {
    background-size: cover;
  }
}
@media screen and (max-width: 960px) {
  html {
    font-size: 14px;
  }

  .btn-green {
    height: 52.5px;
  }

  .btn-outline {
    height: 48px;
  }

  .header__container {
    height: auto;
    padding: 20px 15px;
  }
  .header__logo img {
    height: auto;
    width: 238.88px;
  }
  .header__callback img {
    height: 16.6px;
    width: 16.6px;
  }

  .home {
    grid-template-columns: 1fr;
    margin-top: 40px;
    padding-bottom: 150px;
  }
  .home__h1 {
    max-width: 680px;
  }
  .home__right-img {
    width: 35vw;
  }

  .buildings__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .buildings__item:last-child {
    grid-column: 1/-1;
    justify-self: center;
    width: calc(50% - 15px);
  }
  .buildings__item:last-child img {
    margin: 0 auto;
  }

  .technology__container {
    grid-template-columns: 1fr;
  }
  .technology__img-mobile {
    display: block;
    margin: 26px auto 0;
  }
  .technology__right {
    display: none;
  }

  .advantages__top {
    grid-gap: 30px;
    grid-template-columns: 1fr;
  }
  .advantages__top img {
    order: 1;
    width: 100%;
  }
  .advantages__bottom {
    grid-gap: 30px;
    grid-template-columns: 1fr;
  }
  .advantages__bottom img {
    order: 1;
    width: 100%;
  }

  .calculator__radios {
    grid-template-columns: repeat(3, 1fr);
  }

  .pricelist__alpinist {
    left: unset;
    right: 0;
  }
  .pricelist__data {
    flex-direction: column;
  }
  .pricelist__offer {
    text-align: center;
  }
  .pricelist__button {
    margin-top: 20px;
  }

  .gallery > * {
    width: 25%;
  }
}
@media screen and (max-width: 840px) {
  .speech__container {
    grid-template-columns: 1fr;
  }
  .speech__photo {
    display: none;
  }
  .speech__photo-mobile {
    display: inline-block;
    float: left;
    max-width: 200px;
    margin: 30px 30px 20px 0;
  }

  .glass__advantages {
    grid-template-columns: 1fr;
  }

  .guarantees h2 {
    font-size: 2.08rem;
  }
  .guarantees h2 span {
    font-size: 4.17rem;
  }
  .guarantees__wrapper {
    justify-content: space-evenly;
    margin-top: 40px;
  }
  .guarantees__item {
    margin: 0 70px;
  }
  .guarantees__item:last-child {
    margin-top: 30px;
  }

  .callback h2 {
    font-size: 2.125rem;
  }
  .callback__form {
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .callback__form input {
    width: 100%;
  }
  .callback__form button {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 760px) {
  .profile__wrapper {
    grid-template-columns: 1fr;
  }
  .profile__card {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto 1fr;
    width: 100%;
  }
  .profile__card img {
    height: auto;
    max-width: 248px;
    width: 100%;
  }
  .profile__info {
    min-width: 200px;
  }

  .calculator__radios {
    grid-template-columns: repeat(2, 1fr);
  }

  .pricelist__data {
    padding: 40px 0;
  }
  .pricelist__alpinist {
    display: none;
  }

  .gallery > * {
    width: 50%;
  }
}
@media screen and (max-width: 680px) {
  h2 {
    font-size: 1.8rem;
  }

  .home__h1 {
    font-size: 2.5rem;
    max-width: 480px;
  }

  .numbers__title {
    font-size: 3rem;
  }
  .numbers__wrapper {
    flex-wrap: wrap;
  }
  .numbers__item {
    width: 45%;
  }
  .numbers__item:last-child {
    margin-top: 20px;
  }
  .numbers__divider {
    display: none;
  }

  .additional__item {
    width: 20%;
  }

  .calculator__checkboxes {
    grid-template-columns: 1fr;
  }

  .promo__wrapper {
    grid-template-columns: 1fr;
  }
  .promo__item:last-child {
    width: 100%;
  }

  .clients__cards {
    grid-template-columns: 1fr;
  }

  .errors.lazy-bg-loaded {
    background-position: 70%;
  }
  .errors__text {
    width: 100%;
  }

  .guarantees__item {
    margin: 0 22px;
  }

  .footer__container {
    align-items: center;
    flex-direction: column;
  }
  .footer__container > * {
    width: 100%;
    margin: 20px 0;
  }
  .footer__logo {
    width: auto;
  }
  .footer__address {
    justify-content: center;
  }
  .footer__address div {
    text-align: center;
    margin-left: 5px;
  }
  .footer__socials {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer__social {
    grid-template-columns: repeat(2, auto);
    width: fit-content;
  }
  .footer__social span {
    width: fit-content;
  }
  .footer__contacts {
    align-items: center;
    flex-direction: column-reverse;
  }
  .footer__messangers {
    margin-top: 20px;
  }
  .footer__phones {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer__org {
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }

  .btn-green {
    height: 45px;
  }

  .btn-outline {
    height: 41px;
  }

  .title-separator {
    grid-template-columns: 1fr;
  }
  .title-separator h3 {
    text-align: center;
  }
  .title-separator__divider {
    display: none;
  }

  .header__container {
    justify-content: center;
  }
  .header__logo img {
    height: auto;
    width: 204.75px;
  }
  .header__callback {
    display: none;
  }

  .home__h1 {
    font-size: 2rem;
    max-width: 320px;
  }
  .home__description {
    font-size: 1rem;
  }
  .home__right-img {
    display: none;
  }

  .speech__photo-mobile {
    float: none;
    margin: 30px 0 0;
    max-width: 100%;
  }
  .speech__phone {
    padding: 15px;
  }

  .buildings__wrapper {
    grid-template-columns: 1fr;
  }
  .buildings__item:last-child {
    width: 100%;
  }

  .glass__variants-item {
    width: 50%;
  }
  .glass__variants-item:nth-child(n+3) {
    margin-top: 20px;
  }

  .profile__card {
    display: block;
  }
  .profile__card img {
    max-width: 100%;
  }

  .calculator__form {
    padding: 15px;
  }
  .calculator__category-number {
    height: 30px;
    margin-right: 10px;
    padding-top: 5px;
    width: 30px;
  }
  .calculator__radios input[type=radio] + label {
    grid-gap: 10px;
  }
  .calculator__radios svg {
    height: 30px;
  }
  .calculator__btn {
    padding: 0;
    width: 100%;
  }
  .calculator__size-inputs {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .calculator__size-wrapper {
    align-items: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
  }
  .calculator__size-wrapper span {
    display: block;
  }
  .calculator__size input[name=calc_height] {
    height: 38px;
    position: static;
    width: 100%;
  }
  .calculator__size input[name=calc_width] {
    height: 38px;
    position: static;
    width: 100%;
  }

  .guarantees__container {
    padding: 60px 15px;
  }
  .guarantees__item {
    margin: 0 40px;
  }
  .guarantees__item:nth-child(n+2) {
    margin-top: 30px;
  }

  .callback__form {
    grid-template-columns: 1fr;
  }

  .footer__logo img {
    height: 31.5px;
    width: 205px;
  }
}
@media screen and (max-width: 420px) {
  .calculator__radios {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=index.css.map */
