@import "template.scss";

/*======================= Index =======================*/
.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-modal;

    &-active {
        opacity: 1;
        visibility: visible;
    }

    &__outer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(6, 6, 6, 0.4);
    }

    &__container {
        border: 5px solid #E9DD0C;
        border-radius: 10px;
        filter: drop-shadow(10px 15px 30px rgba(0, 0, 0, 0.2));
        padding: 5px;
        position: relative;
        width: 306px;
    }

    &__close {
        cursor: pointer;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 15px;
        width: 15px;
    }

    &__inner {
        background: #ffffff;
        padding: 31px;
        height: auto;
        width: 100%;
    }

    &__title {
        color: #164D56;
        font-weight: 900;
        font-size: 19px;
        line-height: 119.5%;
        text-align: center;
    }

    &__description {
        color: #000000;
        font-weight: 500;
        font-size: 12px;
        line-height: 119.5%;
        margin-bottom: 30px;
        text-align: center;
    }

    &__input {
        border: 1px solid #C1C1C1;
        border-radius: 4px;
        padding: 11px;
        height: 40px;
        width: 100%;

        &::placeholder {
            color: #A7A7A7;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }

        & + & {
            margin: 15px 0;
        }
    }

    &__button {
        background: #ffffff;
        border: 2px solid #E9DD0C;
        border-radius: 29px;
        color: #333333;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 15px;
        text-align: center;
        height: 40px;
        width: 100%;
    }

    &__agree {
        input {
            display: none;

            &:checked + label::before {
                background: url(../img/agree.svg);
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        label {
            color: #2C2C2C;
            cursor: pointer;
            display: block;
            font-weight: 400;
            font-size: 8px;
            line-height: 130%;
            padding-left: 30px;
            position: relative;
            width: 100%;

            &::before {
                border: 1px solid #DFDFDF;
                border-radius: 2px;
                content: '';
                height: 14px;
                position: absolute;
                top: 0;
                left: 0;
                width: 14px;
            }
    
            a{
                color: #868686;
                font-weight: 500;
                text-decoration-line: underline;
            }
        }
    }

    &__error {
        color: red;
    }

    &__thx {
        background: chartreuse;
        text-align: center;
    }
}

.nav {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    height: 26px;
    margin-top: 20px;
    margin-left: auto;
    width: max-content;

    &__item {
        color: #ffffff;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        margin: 0 30px;

        &-active {
            color: $second-color;
        }

        &-button {
            background-color: $second-color;
            border: none;
            border-radius: 24px;
            color: #343434;
            cursor: pointer;
            margin: 0;
            padding: 0 30px;
        }
    }
}

.home {
    margin-top: 89px;

    &__wrapper {
        max-width: 877px;
        padding-bottom: 191px;
    }

    &__border {
        border: 5px solid $second-color;
        border-radius: 23px;
        height: auto;
        padding: 16px 30px 42px;
        position: relative;
    }

    &__title {
        color: #fff;
        font-size: 2.75rem;
        font-weight: 700;
        line-height: 111%;
    }

    &__subtitle {
        color: $second-color;
        font-size: 1.625rem;
        font-weight: 500;
        line-height: 135%;
    }

    &__button {
        background: $second-color;
        border: none;
        border-radius: 24px;
        cursor: pointer;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        padding: 5px 80px;
        position: absolute;
        bottom: -22px;
        left: 40px;
    }

    &__description {
        color: #B1DDCD;
        font-weight: 500;
        font-size: 15px;
        line-height: 35px;
        padding-right: 30px;
        text-align: right;

        span {
            color: $second-color
        }
    }
}

.speech {
    &__container {
        height: 363px;
        position: relative;
    }

    &__anchor {
        position: relative;
        top: -150px;
        visibility: hidden;
    }

    &__overflow {
        perspective: 200px;
        position: absolute;
        transform: translate(-50%, 0);
        top: -150px;
        left: 50%;
        height: 254px;
        width: 100%;
          
          &:before {
            background: #fff;
            box-shadow: 0px -95px 50px rgba(0, 0, 0, 0.15);
            transform: rotateX(10deg);
            transform-origin: 50% 100%;
            border-radius: 40px 40px 0 0;
            height: 100%;
            width: 100%;
            position: absolute;
            content: '';
          }
    }

    &__data {
        align-content: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 1200px;
        padding: 0 30px;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: $z-tooltip;
    }

    &__foto {
        height: auto;
        width: auto;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }

        img {
            border: 5px solid #1E917E;
            border-radius: 50%;
            height: 300px;
            width: 300px;
        }
    }

    &__content {
        margin-left: 35px;
        width: 800px;

        & p {
            margin-bottom: 20px;
        }
    }

    &__title {
        align-items: center;
        display: inline-flex;

        & img {
            height: 17px;
            width: 17px;
        }

        h2 {
            color: #1E907E;
            font-size: 1.5rem;
            font-weight: 700;
            margin-left: 10px;
        }
    }
}

.numbers {
    background: #E5F6F9;
    padding: 56px 0;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    &__item {
        padding-top: 60px;
        position: relative;
        width: auto;
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__title {
        color: #164D56;
        font-weight: 900;
        font-size: 6.25rem;
        line-height: 50%;
        letter-spacing: -0.1em;
        position: relative;
        z-index: 1;

        & span {
            font-weight: 500;
            font-size: 1.9375rem;
            letter-spacing: -0.07em;
        }
    }

    &__description {
        color: #2C9786;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 89.5%;
        position: relative;
        z-index: 1;
    }
}

.variants {
    border-bottom: 1px solid #1E907E;

    &__header {
        background: #e6e6e6;
        background-size: cover;
        background-position: right;

        &.lazy-bg-loaded {
            background-image: url(../img/variants.jpg);
            background-size: cover;
            background-position: right;
        }
    }

    &__title {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 2.125rem;
        line-height: 100%;
        padding-top: 21px;
        text-align: center;
    }

    &__section {
        background: rgba(8, 51, 55, 0.4);
    }

    &__tabs {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__tab {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 83px;
        width: 255px;

        &:hover {
            background: #E6FCFF;
            border-radius: 25px;

            & p {
                color: #545252;
            }
        }

        p {
            color: #fff;
            font-size: 1rem;
            font-weight: 700;
            text-align: center;

            span {
                font-size: 1.125rem;
                line-height: 1rem;
            }
        }

        &-active {
            background: #E6FCFF;
            border-radius: 25px;

            & p {
                color: #545252;
            }
        }
    }
}

.technology {
    display: none;
    padding-bottom: 50px;

    &-active {
        display: block;
    }

    &__content {
        border-left: 1px solid #D5D5D5;
        border-right: 1px solid #D5D5D5;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px;
    }

    &__info {
        max-width: 700px;

        strong {
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.5rem;
        }

        p {
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 1.5rem;
        }
    }

    &__title {
        color: #1E907E;
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 10px;

        img {
            vertical-align: sub;
            height: 22px;
            width: 22px;
        }
    }

    &__description {
        margin-top: 20px;
    }

    &__img {
        height: auto;
        width: auto;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }

        img {
            height: 354px;
            width: 476px;
        }
    }

    &__extra {
        border: 1px solid #D5D5D5;
        border-bottom-left-radius: 34px;
        border-bottom-right-radius: 34px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__offer {
        padding: 30px;
        margin: auto;

        &-wrapper {
            margin: auto;
        }

        * {
            width: max-content;
        }
    }

    &__price {
        color: #494949;
        font-weight: 900;
        font-size: 2rem;
        line-height: 130%;

        span {
            color: #1E907E;
            font-weight: 500;
        }
    }

    &__buttons {
        margin: 10px 0 19px;

        button {
            border: 3px solid #FAEC0D;
            border-radius: 24px;
            cursor: pointer;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.875rem;
            text-align: center;
            width: 254px;
        }
    }

    &__master {
        background: #FFFFFF;
        color: #6B6B6B;
    }

    &__buy {
        background: #FAEC0D;
        color: #343434;
        margin-left: 15px;
    }

    &__question {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.3rem;
        letter-spacing: -0.03em;
    }

    &__answer {
        font-size: .875rem;
        font-weight: 500;
        line-height: 1.3rem;
        letter-spacing: -0.03em;

        a {
            font-size: 1rem;
        }
    }

    &__right {
        border-left: 1px solid #D5D5D5;
    }

    &__characteristics {
        border-bottom: 1px solid #D5D5D5;
        padding: 30px;

        p {
            color: #1F454B;
            font-weight: 700;
            font-size: .875rem;
            line-height: 130%;
        }
    }

    &__options {
        padding: 30px;

        p {
            color: #1F454B;
            font-weight: 500;
            font-size: .875rem;
            line-height: 130%;

            span {
                font-weight: 700;
            }
        }
    }
}

.specials {
    &__cards {
        border: 1px solid #1E907E;
        border-radius: 22px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__card {
        cursor: pointer;
        margin: 5px;
        position: relative;
        width: 100%;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
            z-index: $z-tooltip;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        position: relative;
        height: 100%;
        width: 100%;
    }

    &__title {
        color: #EBDE0C;
        font-weight: 700;
        font-size: 2.125rem;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    &__subtitle {
        color: #ffffff;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 111%;
        margin-top: 10px;
        text-align: center;
    }

    &__separator {
        height: 3px;
        width: 40px;
    }

    &__description {
        color: #ffffff;
        font-weight: 500;
        font-size: 1rem;
        line-height: 118%;
        text-align: center;
    }

    &__questions {
        font-size: .875rem;
        font-weight: 500;
        line-height: 128%;
        text-align: center;
        margin: 35px 0;

        strong {
            font-size: 1.375rem;
            font-weight: 700;
            line-height: 128%;
        }

        a {
            font-size: 1.375rem;
            line-height: 128%;
        }
    }
}

.pricelist {
    background: #1F565F;

    .section {
        background: #e6e6e6;

        &.lazy-bg-loaded {
            background-image: url(../img/variants.jpg);
            background-size: cover;
            background-position: right;
        }
    }

    &__container {
        align-items: center;
        background: #e6e6e6;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        &.lazy-bg-loaded {
            background: url(../img/pricelist_bg.png);
            background-size: contain;
            background-position: left;
            background-repeat: no-repeat;
        }
    }

    &__img {
        position: absolute;
        top: -60px;
        height: 216px;
        width: 247px;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__data {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        width: 1100px;
    }

    &__offer {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 100%;
        max-width: 543px;
        margin: 47px;
    }

    &__button {
        background: transparent;
        border: 3px solid #EBDE0C;
        border-radius: 26.5px;
        cursor: pointer;
        height: max-content;

        &-inner {
            align-items: center;
            color: #EBDE0C;
            display: flex;
            font-weight: 700;
            font-size: 1rem;
            line-height: 100%;
            padding: 10px 35px;

            img {
                margin-left: 10px;
                height: 23.2px;
                width: 21px;
            }
        }
    }
}

.advantages {
    &__container {
        height: 300px;
        position: relative;
        max-width: 1400px;
    }

    &__overflow {
        perspective: 200px;
        position: absolute;
        transform: translate(-50%, 0);
        bottom: 120px;
        left: 50%;
        height: 254px;
        width: 100%;
          
          &:before {
            background: #ffffff;
            box-shadow: 0px -95px 50px rgba(0, 0, 0, 0.15);
            transform: rotateX(170deg);
            transform-origin: 50% 100%;
            border-radius: 40px 40px 0 0;
            height: 100%;
            width: 100%;
            position: absolute;
            content: '';
          }
    }

    &__cards {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 53px;
        position: absolute;
        left: 0;
        width: 100%;
    }

    &__card {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        position: relative;

        & + & {
            border-left: 1px solid #EAEAEA;
        }
    }

    &__icon {
        background: radial-gradient(50% 50% at 50% 50%, rgba(6, 219, 255, 0.17) 0%, rgba(5, 51, 58, 0.0765) 100%), #1A4A52;
        border-radius: 50%;
        height: 102px;
        width: 102px;
        position: relative;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__content {
        background: #ffffff;
        padding: 0 15px;
        position: absolute;
        top: 90px;
    }

    &__title {
        color: #1F454B;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 100%;
        text-align: center;
    }

    &__separator {
        border-bottom: 1px solid #D3D3D3;
        max-width: 180px;
        margin: 6px auto;
    }

    &__description {
        color: #3A3A3A;
        font-weight: 500;
        font-size: 1rem;
        line-height: 112%;
        max-width: 275px;
        text-align: center;
    }
}

.errors {
    background-color: #21595E;

    &.lazy-bg-loaded {
        background-image: url(../img/errors.png);
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }

    &__container {
        padding: 100px 30px;
    }

    &__title {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 2.125rem;
        line-height: 102%;
        max-width: 717px;
    }

    &__separator {
        margin-left: 0;
    }

    &__items {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
        max-width: 900px;
    }

    &__item {
        display: inline-flex;
        margin-top: 50px;
    }

    &__digit {
        color: #EBDE0C;
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 102%;
    }

    &__text {
        color: #AEDDE4;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 102%;
        margin-left: 29px;
        max-width: 333px;
    }

    &__footer {
        background: rgba(12, 66, 74, 0.48);
    }

    &__offer {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 3.75rem;
        line-height: 95%;
        letter-spacing: -0.02em;
        max-width: 617px;
    }
}

.guarantees {
    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        padding: 75px 30px;
    }

    &__item {
        margin: 15px 100px 15px 0;
    }

    &__number {
        color: #164D56;
        font-weight: 700;
        font-size: 4.375rem;
        line-height: 102%;
    }

    &__text {
        color: #2C9786;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 89.5%;
        max-width: 122px;
    }

    &__img {
        position: absolute;
        top:-150px;
        right: 200px;
        height: 371px;
        width: 500px;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.gallery {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > * {
        height: auto;
        position: relative;
        width: 20%;

        & img:first-child {
            cursor: pointer;
            height: auto;
            width: 100%;
            transition: .5s;
        }
    
        & img:first-child:hover {
            position: relative;
            z-index: $z-tooltip;
            transform: scale(1.1);
        }
    }

    &__hover {
        cursor: pointer;
        height: 98px;
        width: 96px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: $z-tooltip;
    }

    &__item {
        background: #e6e6e6;
        padding: 30px;

        &.lazy-bg-loaded {
            background-color: #21595E;
            background-image: url(../img/gallery_2.png);
            background-size: cover;
        }
    }

    &__title {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 2.125rem;
        line-height: 100%;
        text-transform: uppercase;
    }

    &__separator {
        margin-left: 0;
    }

    &__modal {
        position: relative;
        width: max-content;

        &-img {
            height: auto;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .pricelist__img {top: -110px}
    .guarantees__img {right: 20px;}
}

@media screen and (max-width: 1298px) {
    .technology__content{align-items: center ;flex-direction: column;}
    .technology__info{width: 100%;}
    .technology__img img{height: auto; width: 100%;}

    .advantages {
        &__container {
            height: 450px;
        }

        &__cards {
            flex-wrap: wrap;
        }

        &__card {
            margin-bottom: 100px;
            width: 50%;
        }
    }
}

@media screen and (max-width: 1199px) {
    .speech {
        &__container {
            height: unset;
        }

        &__data {
            align-items: center;
            flex-direction: column;
            width: 100%;
            position: relative;
            padding: 0;
        }

        &__content {
            margin-top: 20px;
            margin-left: 0;
            width: 100%;
        }
    }

    .specials {
        &__cards {
            flex-wrap: wrap;
            width: fit-content;
            margin: 0 auto;
        }
        &__card {
            height: 254px; 
            width: 375px;
        
            img {
                border-radius: 20px; 
            }
        }
        &__img {height: 254px; width: 375px;}
    }

    .guarantees__img {
        top: -90px;
        height: 186px;
        width: 250px;
    }
}

@media screen and (max-width: 1087px) {
    .technology {
        &__extra {
            flex-direction: column-reverse;
        }

        &__right {
            border-left: none;
            border-bottom: 1px solid #D5D5D5;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__characteristics {
            border-bottom: none;
            border-right: 1px solid #D5D5D5;
        }
    }
}

@media screen and (max-width:960px) {
    .speech {
        &__overflow {top: -100px;}
        &__foto img {height: 200px; width: 200px;}
    }

    .numbers {
        &__container {
            flex-wrap: wrap;
        }
        &__item {
            width: 300px;
        }
        &__title {
            text-align: center;
        }
        &__description {
            text-align: center;
        }
    }

    .gallery > * {
        width: 25%;
    }
}

@media screen and (max-width:920px) {
    .home__description{
        line-height: 130%;
        margin-top: 30px;
        padding-right: 0;   
        text-align: center;
    }

    .pricelist {
        .section.lazy-bg-loaded {
            background: none;
        }
        &__container.lazy-bg-loaded {
            background-size: cover;
            background-position: center;
        }
    }
}

@media screen and (max-width: 861px) {
    .errors {background-size: cover; background-position: 70% center;}
}

@media screen and (max-width: 846px) {
    .technology {
        &__right {
            flex-direction: column;
        }
        &__characteristics {
            border-bottom: 1px solid #D5D5D5;
            border-right: none;
        }
    }
    .specials__cards {width: min-content;}
    .pricelist__img {top: -40px; left: -20px; height: 108px; width: 123.5px;}
}

@media screen and (max-width:760px) {
    .nav {display: none;}

    .pricelist__container {background: none;}

    .gallery > * {width: 50%;}
}

@media screen and (max-width: 674px) {
    .numbers {
        &__item {margin-top: 20px;}
        &__title {text-align: left;}
        &__description {text-align: left;}
    }
}

@media screen and (max-width: 660px) {
    .home {
        &__title {
            font-size: 2rem;
        }

        &__subtitle {
            font-size: 1.2rem;
            margin-top: 10px;
        }
    }

    .technology {
        &__offer {
            width: 100%;

            &-wrapper {
                width: 100%;
            }
        }

        &__price {
            width: 100%;
        }

        &__buttons {
            margin: 10px auto;
            display: flex;
            flex-direction: column;

            button {
                padding: 0 10px;
                width: 100%;
            }
        }

        &__buy {
            margin: 10px 0 0 0;
        }

        &__answer {
            width: 100%;
        }
    }

    .advantages {
        &__container {
            height: 850px;
        }

        &__cards {
            flex-wrap: wrap;
        }

        &__card {
            margin-bottom: 100px;
            width: 100%;
        }
    }

    .pricelist {
        &__data {
            flex-direction: column;
            padding: 47px 0;
        }

        &__offer {
            margin: 0 auto 20px;
            text-align: center;
        }
    }

    .errors {
        &.lazy-bg-loaded {
            background-image: url(../img/errors_mob.png);
            background-position: center;
        }

        &__offer {font-size: 2.5rem;}
    }
    .guarantees__img {height: 148px; width: 200px;}
}

@media screen and (max-width: 515px) {
    .home__title {font-size: 1.5rem;}
    .home__button {left: 50%; transform: translate(-50%, 0);}

    .specials__title {font-size: 1.5rem;}
    .specials__subtitle {font-size: 1rem;}
    .specials__card {height: 180px; width: 271px;}
    .specials__img {height: 180px; width: 271px;}
}

@media screen and (max-width: 380px) {
    .home__button{padding: 5px 60px;}
    .errors__offer {font-size: 2rem;}
}

@media screen and (max-width: 350px) {
    .specials__card {width: 100%;}
    .specials__img {width: 100%;}
    .specials__separator {margin: 5px auto;}
}